<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login/style.css' %}">
</head>
<body>
    <div class = "container">
        
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        
        <h2>Registration</h2>
        <form action = "/register", method='post'>
            {% csrf_token %}
            <p><label for="first_name">First Name</label>
            <input type="text" name="first_name"></p>
            <p><label for="last-name">Last Name</label>
            <input type="text" name="last_name"></p>
            <p><label for="email">Email</label>
            <input type="email" name="email"></p>
            <p><label for="password">Password</label>
            <input type="password" name="password"></p>
            <p><label for="password_confirmation">Password Confirm</label>
            <input type="password" name="confirm_pw"></p>
            <p><input type="submit" value="Register"></p>
        </form>
        <h2>Login</h2>
        <form action="/login", method='post'>
            {% csrf_token %}
            <p><label for="email">Email:</label>
               <input type="email" name="email"></p>
            <p><label for="password">Password:</label>
               <input type="password" name = "password"></p>
            <p><input type="submit" value="Login"></p>
        </form>
    </div>
</body>
</html>