<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head>
<body>
    <h2>User {{user.id}}</h2>
    <p>Full Name: {{user.first_name}} {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Created at: {{user.created_at}}</p>

    <a href="/users/{{user.id}}/edit">Edit |</a> <a href="/users/{{user.id}}/destroy">Delete</a>
</body>
</html>